/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../pictures/heart-g1ae8c1a5a_1920.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center; 
    background-size: 25%;
    background-color: #1E1D1B;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #F6F6F6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    flex-grow: 1;

}

.transparent-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
    background-color: transparent;
    box-shadow: none;
    flex-grow: 1;
    color: #D5B676;
}

/* Header */
.custom-header {
    background-color: #1E1D1B;
    color: #E5C686;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: px;
    font-weight: bold;
}


/* Navbar */
.navbar {
    background-image: linear-gradient(90deg, #1E1D1B, #E5C686);
    box-shadow: 0 1px 2px #bdc3c7;
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar .nav-link {
    color: #D5B676;
    font-weight: 600;
    font-size: large;
    transition: color 0.3s;
    
}

.navbar .nav-link:hover {
    color: #bdc3c7;
}

.navbar .navbar-brand {
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    padding-left: 5px;
}

.navbar .navbar-brand:hover {
    color: #1E1D1B;
}

.navbar-image {
    position: absolute;
    right: 15px; /* Adjust the distance from the right edge */
    top: 50%;
    transform: translateY(-50%);
    height: 50px; /* Adjust the image height */
    width: auto;
}


/* Buttons */
.btn-primary {
    background-color: #E5C686;
    border-color: #E5C686;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.btn-primary:hover {
    background-color: #D5B676;
    border-color: #D5B676;
}

.btn-secondary {
    background-color: #1E1D1B;
    border-color: #1E1D1B;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.btn-secondary:hover {
    background-color: #0E0D0B;
    border-color: #0E0D0B;
}

/* Accordion */


.accordion-header {
    font-weight: 600;
}

.accordion-button {
    background-color: #E5C686;
    color: #0E0D0B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    border: none;
}

.accordion-button:hover {
    background-color: #D5B676;
}

.accordion-button:not(.collapsed) {
    background-color: #D5B676;
    color: #1E1D1B;
}

.accordion-body {
    background-color: #1E1D1B;
    color: #D5B676;
    padding: 1.25rem;
    border-top: 1px solid #eaeaea;
}

/* text part*/

.text-white {
    background-color: #1E1D1B;
    border-radius: 5px;
    box-shadow: 0 4px 8p #D5B676;
    padding: 20px;
  }
.text-white h4 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #D5B676;
}

.text-white p {
    margin-bottom: 20px;
    
}

/* Footer */
.footer {
    background-color: #D5B676;
    color: #1E1D1B;
    padding: 5px 0;
    margin-top: auto;
    border: 2px solid white;
    border-radius: 5px;
    }

.footer .container {
    background-color: transparent;
    box-shadow: none;
}

.footer h4 {
    font-weight: bold;
    margin-bottom: 10px;
}
  
.footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
  
.footer a:hover {
    color: #bdc3c7;
}
  
.footer ul {
    padding: 0;
}
  
.footer li {
    list-style: none;
    margin-bottom: 10px;
}
  
.copyright {
    font-size: 14px;
    margin-top: 10px;
}

.footer p,
.footer ul,
.footer li {
    margin-bottom: 0;
    padding: 0;
}

/* Feedback Form Styles */
.feedback-form-container {
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    color: #D5B676;
}

.feedback-form {
    background-color: transparent;
    border: 1px solid #D5B676;
    border-radius: 5px;
    padding: 20px;
}